.hero {
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 60px;

  background: linear-gradient(
    135deg,
    #fff3e0,
    #ffe0e6
  );
}

.hero-content {
  max-width: 500px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 24px;
}

.hero-image {
  font-size: 180px;
}